body {
  background: rgb(222, 218, 218);
}

.E7{
  display: flex;
    border: 1px solid rgb(244, 187, 181);;
    width: 700px;
    height: 30px;
    background-color: rgb(244, 187, 181);
}
span{
    margin-left: 7px;
    color: rgb(110, 107, 107);
}
a{
    text-decoration: none;
    color: rgb(110, 107, 107);
    display: inline-block;
}
.linkTo{
  margin-left: auto;
  display: flex;
  padding: 7px;
}
.one {
    border: 1px solid white;
    background: white;
    display: inline-block;
    width: 700px;
    height: 220px;
    margin-top: 17px;
}
#area {
    width: 600px;
    height: 150px;
    margin-left: 17px;
    display: inline-block;
    margin-right: 50px;
}

.escaped {
box-sizing: border-box;
color: rgb(27, 108, 168);
display: block;
font-family: Poppins, sans-serif;
font-size: 22.589px;
font-weight: 500;
height: 27.1016px;
line-height: 27.1068px;
margin-block-end: 8px;
margin-bottom: 8px;
text-align: center;
text-size-adjust: 100%;
width: 380px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#escape, #unescape {
  cursor: pointer;
  border-color: #1b6ca8;
  background-color: #1b6ca8;
  color: white;
}
.button {
    width: 130px;
    height: 40px; 
    display: inline-block;
    margin-left: 20px;
    font-size: .8125rem;
}

#copyTo, #saveTo {
    color: #fff;
    background-color: #1b6ca8;
    border-color: #1b6ca8;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.47rem 0.75rem;
    font-size: .8125rem;
    font-family: inherit;
    --bs-gutter-x: 16px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 87.5%;
  color: #212529;
  white-space: pre-wrap;
  word-wrap: pre;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 9px;
  overflow: scroll;
  height: 400px;
}